@page "/newUser"
@attribute [StreamRendering]

<PageTitle>New Users</PageTitle>
<label>Fyll i informationen och klicka sedan på spara</label>

<div>
	<input type="text" placeholder="Namn" />
</div>
<div>
	<input type="text" placeholder="Email" />
</div>
<div>
	<input type="text" placeholder="Company" />
</div>
<div>
	<button>Spara</button>
</div>





