@page "/newUser"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>New Users</PageTitle>


@if (!isSaved)
{
	<label>Fyll i informationen och klicka sedan på spara</label>
	<div>
		<input type="text" placeholder="Namn" @bind="Name"/>
	</div>
	<div>
		<input type="text" placeholder="Email" @bind="Email"/>
	</div>
	<div>
		<input type="text" placeholder="Company" @bind="Company"/>
	</div>
	<button @onclick="Save">Save</button>
} else
{
	<div>Name: @Name</div>
	<div>Email: @Email</div>
	<div>Company: @Company</div>
	<button @onclick="ResetValues">New user</button>
}


@code 
{
	private bool isSaved = false;
	private string Name;
	private string Email;
	private string Company;

	private void Save()
	{
		isSaved = !isSaved;
	}

	private void ResetValues()
	{
		isSaved = false;
		Name = string.Empty;
		Email = string.Empty;
		Company = string.Empty;
	} 

	
}



